@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700&display=swap');

#root {
  font-family: 'Source Sans Pro', sans-serif!important;
}

section {
  padding: 2rem 0.5rem;
  margin: 0 auto;
}
@media (min-width: 1024px) {
  section {
    padding: 2.5rem 2rem;
  }
}